/* 
12px = 0.75rem
18px = 1.125rem
20px = 1.25rem
30px = 1.875rem
32px = 2rem
40px = 2.5rem
50px = 3.125rem
60px = 3.75rem
90px = 5.625rem

color : #003889,#392A5B,#222,#333333,
*/



body {
    width: 1920px;
    margin:0 auto;
}
/* header-------------------------------------------- */
header {
    background-color: wheat;
    width: 1920px;
    height: 97px;
    padding: 0 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header h1 {width: 203px; height: 57px;display: inline-block; background-color: yellowgreen;}
header h1 a {line-height:80px;}
header h1 a img {width:100%;}
header nav {}
header nav .gnb {
    background-color: lightblue;
    width:579px;
    display: flex;
    justify-content: space-between;
}
header nav .gnb li {}
header nav .gnb li a {}
header nav .lnb_bg {display: none;}
header nav .lnb_bg .lnb {}
/* lnb 개별 선택자 ---------------------------------=--- */
header nav .lnb_bg .intro {}
header nav .lnb_bg .rnd {}
header nav .lnb_bg .product {}
header nav .lnb_bg .investor {}
header nav .lnb_bg .news {}
/* main ------------------------------------------------- */
/* footer ------------------------------------------------- */
footer {}
footer .btm_logo {}
footer .btm_logo a {}
footer .btm_logo a img {}
footer .btm_wrap {}
footer .btm_wrap .btm {}
footer .btm_wrap .btm a {}
footer .btm_wrap .btm_info {}
footer .btm_wrap .btm_info p {}
footer .btm_wrap address {}
footer .btm_wrap > p {}