/* 
color:#3070F3,#FCBE39,#F2F2F2,#fff,#000,#666666;
18px = 1.125rem
20px = 1.25rem
25px = 1.563rem
30px = 1.875rem
40px = 2.5rem
50px = 3.125rem
70px = 4.375 rem
80px = 5 rem
250px = 15.625rem

*/

main {}
main #wrap {height: 100vh;}
main #wrap .swiper-wrapper {}
/* ================================================ intro */
main #wrap .swiper-wrapper .intro {
    /* background-color:lightcoral; */
    background: url(../images/background/background.png) no-repeat center / cover;
    overflow:hidden;
}
main #wrap .swiper-wrapper .intro .box {}
main #wrap .swiper-wrapper .intro .box .wave {
    opacity: .4;
    position: absolute;
    bottom:-2900px;
    left: 0;
    background: #0af;
    width: 3000px;
    height: 3000px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 5s infinite linear;
}
main #wrap .swiper-wrapper .intro .box .one {}
main #wrap .swiper-wrapper .intro .box .two {animation: drift 6s infinite linear;background:#fff;left: 500px;}
main #wrap .swiper-wrapper .intro .box .three {
    animation: drift 7s infinite linear;
    opacity: .1;
    background:#FCBE39;
    left: -200px;
}
main #wrap .swiper-wrapper .intro .box .title {display: none;}

main #wrap .swiper-wrapper .intro .ani {
    /* background-color: violet; */
    color:#e0e0e0;
    font-size: 1.25rem;
    position: absolute;
    z-index: 10;
    bottom:50px;
    left:47%;
    animation: spanani 1s linear infinite alternate;
}
/* 애니메이션 */
@keyframes spanani {
    0% {transform: translateY(0);}
    100% {transform: translateY(10px);}
}
@keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}
/* ================================================ intro2 */
main #wrap .intro2 {background-color: #3070F3; position:relative;}
main #wrap .intro2 .intro2_container {width: 1400px; margin:230px auto; }
main #wrap .intro2 .intro2_container > p {font-size:5rem; color:#fff; margin:0 0 25px 0; font-weight: 600;}
main #wrap .intro2 .intro2_container > p:nth-child(1){}
main #wrap .intro2 .intro2_container p:nth-child(2){}
main #wrap .intro2 .intro2_container > p:nth-child(3){}
main #wrap .intro2 .intro2_container p:nth-child(4){}
main #wrap .intro2 .intro2_container .line {
    content: '';
    width: 662px; height: 3px;
    display:inline-block;
    position:absolute; top:585px; right:450px;
    background-color: #fff;
}
main #wrap .intro2 .intro2_container .number {
    position: absolute;
    top:300px;right:520px;
}
main #wrap .intro2 .intro2_container .number > p {    
    font-size: 15.625rem;
    font-weight: 700;
    position: relative;
    color: #ffffff52;
    display: inline-block;
    z-index: 1;
}
main #wrap .intro2 .intro2_container .number > p::before {
    content: '1995'; 
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background-image: url(../images/icon/wave.png);
    background-size: cover;
    background-repeat: repeat-x;
    background-position: 0 center;
    background-clip: text;
    animation: waveMove 5s linear infinite;
    z-index: 2;
}
main #wrap .intro2 .intro2_container .go {    
    position: absolute;
    top:540px;right:320px;
}
main #wrap .intro2 .intro2_container .go p {color:#fff;font-size: 5rem;font-weight: 600;}
main #wrap .intro2 .intro2_container .small_deco {
    position:absolute;
    top:340px; right:400px;
}
main #wrap .intro2 .intro2_container .small_deco > p {color:#fff;font-size: 1.25rem;}
main #wrap .intro2 .intro2_container .small_deco > p:nth-child(1) {}
main #wrap .intro2 .intro2_container .small_deco > p:nth-child(2) {padding:10px 0;}
main #wrap .intro2 .intro2_container .small_deco > p:nth-child(3) {}
main #wrap .intro2 .intro2_container .small_deco > p span {color:#fff;font-weight: 600;}

/* 애니메이션 */
@keyframes waveMove {
    0% { background-position: 0% center; }
    100% { background-position: 100% center; }
}
/* ================================================ profile */
main #wrap .swiper-wrapper .profile {width: 100%;}
main #wrap .swiper-wrapper .profile .container {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
}
main #wrap .swiper-wrapper .profile .container .container_left {
    background-color:#F9F9F9;
    width: 610px;
    position:relative;
}
main #wrap .swiper-wrapper .profile .container .container_left h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    padding:200px 0 0 100px;
}
main #wrap .swiper-wrapper .profile .container .container_left h2 em {font-weight: 600; color:#FCBE39;}
main #wrap .swiper-wrapper .profile .container .container_left h2 span {font-weight: 600; color: #3070F3;}
main #wrap .swiper-wrapper .profile .container .container_left .blue {position:absolute; top:50px;left:20px;}
main #wrap .swiper-wrapper .profile .container .container_left .blue img {}
main #wrap .swiper-wrapper .profile .container .container_left .yellow {position:absolute; top:200px;left:30px;}
main #wrap .swiper-wrapper .profile .container .container_left .yellow img{}
main #wrap .swiper-wrapper .profile .container .container_left .info {padding:200px 0 0 100px;}
main #wrap .swiper-wrapper .profile .container .container_left .info li {
    /* background-color: violet; */
    margin:20px 0;
    width: 400px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
main #wrap .swiper-wrapper .profile .container .container_left .info li span {font-size: 1.563rem; font-weight: 600; color: #3070F3;}
main #wrap .swiper-wrapper .profile .container .container_left .info li em{font-size: 1.125rem; font-weight: 600; color:#666666;}
main #wrap .swiper-wrapper .profile .container .container_right {
    width: calc(100% - 610px);
    /* background-color: rosybrown; */
}
main #wrap .swiper-wrapper .profile .container .container_right .container_top {
    width: 1000px;
    display:flex;
    flex-flow:row wrap;
    padding:100px 30px;
    gap:50px;
}
main #wrap .swiper-wrapper .profile .container .container_right .container_top .edu {animation: upani 0.5s linear both; animation-delay: 0.2s;}
main #wrap .swiper-wrapper .profile .container .container_right .container_top .edu h2 {font-size: 1.25rem; font-weight: 600; color: #3070F3;}
main #wrap .swiper-wrapper .profile .container .container_right .container_top .edu h2 ul {}
main #wrap .swiper-wrapper .profile .container .container_right .container_top .edu ul li {margin:10px;}
main #wrap .swiper-wrapper .profile .container .container_right .container_top .edu ul li em {font-size: 1.125rem; color:#222;font-weight: 600; margin-right:13px;}
main #wrap .swiper-wrapper .profile .container .container_right .container_top .edu ul li span {font-size: 1rem; color:#666666;}
main #wrap .swiper-wrapper .profile .container .container_right .container_top .license h2 {font-size: 1.25rem; font-weight: 600; color: #3070F3;}
main #wrap .swiper-wrapper .profile .container .container_right .container_top .license {animation: upani 0.5s linear both; animation-delay: 0.5s;}
main #wrap .swiper-wrapper .profile .container .container_right .container_top .license h2 ul {}
main #wrap .swiper-wrapper .profile .container .container_right .container_top .license ul li {margin:10px;}
main #wrap .swiper-wrapper .profile .container .container_right .container_top .license ul li em {font-size: 1.125rem; color:#222;font-weight: 600; margin-right:13px;}
main #wrap .swiper-wrapper .profile .container .container_right .container_top .license ul li span {font-size: 1rem; color:#666666;}
main #wrap .swiper-wrapper .profile .container .container_right .container_top .career {animation: upani 0.5s linear both; animation-delay: 1s;}
main #wrap .swiper-wrapper .profile .container .container_right .container_top .career h2 {font-size: 1.25rem; font-weight: 600; color: #3070F3;}
main #wrap .swiper-wrapper .profile .container .container_right .container_top .career ul {}
main #wrap .swiper-wrapper .profile .container .container_right .container_top .career ul li {margin:10px;}
main #wrap .swiper-wrapper .profile .container .container_right .container_top .career ul li em {font-size: 1.125rem; color:#222;font-weight: 600; margin-right:13px;}
main #wrap .swiper-wrapper .profile .container .container_right .container_top .career ul li span {font-size: 1rem; color:#666666;}
/* ----------------------------------------skill */
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap {animation: upani 0.5s linear both; animation-delay: 1s;}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap {background-color: white; padding-left:30px;}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap h2 {font-size: 1.25rem; font-weight: 600; color: #3070F3;}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap .skill {
    padding:20px 0 0 10px;
    display: flex;
    flex-flow: column wrap;
    height: 340px;
    gap:35px;
}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap .skill .talent {
    width: 530px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap .skill .talent h3 {}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap .skill .talent .total_bar {
    content: '';
    display: inline-block;
    width: 384px;
    height: 8px;
    background-color: #EBEBEB;
    border-radius: 50px;
    position: relative;
}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap .skill .talent .total_bar .bar {
    content: '';
    display: inline-block;
    width: 0;
    height: 8px;
    background-color: #3070F3;
    border-radius: 50px;
    position:absolute;
    top:0; left:0;
    animation:barani 0.5s linear both;
}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap .skill .talent1 .total_bar .bar {width:80%;}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap .skill .talent2 .total_bar .bar {width:50%;}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap .skill .talent3 .total_bar .bar {width:80%;}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap .skill .talent4 .total_bar .bar {width:70%;}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap .skill .talent5 .total_bar .bar {width:70%;}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap .skill .talent6 .total_bar .bar {width:90%;}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap .skill .talent7 .total_bar .bar {width:60%;}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap .skill .talent8 .total_bar .bar {width:70%;}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap .skill .talent9 .total_bar .bar {width:50%;}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap .skill .talent10 .total_bar .bar {width:30%;}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap .skill .talent11 .total_bar .bar {width:50%;}
main #wrap .swiper-wrapper .profile .container .container_right .container_btm .skill_wrap .skill .talent12 .total_bar .bar {width:40%;}

/* 애니메이션 */
@keyframes upani {
    0% {opacity: 0; transform: translateY(10px);}
    100% {opacity: 1; transform: translateY(0);}
}

/* ================================================ project1 */
main #wrap .project1 {background:url(../images/background/prj_b_001_1.jpg) center / cover;}
main #wrap .project1 .container {
    height: 100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
main #wrap .project1 .container .img_wrap {/* background-color: teal; */}
main #wrap .project1 .container .img_wrap .img_item {width:1000px;}
main #wrap .project1 .container .img_wrap .img_item img {width: 100%;}
main #wrap .project1 .container .contents {
    /* background-color: wheat; */
    width: 600px;
    margin-right:200px;
}
main #wrap .project1 .container .contents h1 {width:250px; margin:0 0 20px 180px;}
main #wrap .project1 .container .contents h1 img {width: 100%;}
main #wrap .project1 .container .contents .project_info {
    padding:50px;
    background-color:rgba(0,0,0,0.3);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    margin-bottom: 30px;
}
main #wrap .project1 .container .contents .project_info h2 {
    font-size: 1.25rem; color: #3070F3; font-weight: 600;
    margin-bottom: 30px;
}
main #wrap .project1 .container .contents .project_info p {margin-bottom:20px;color: #fff;}
main #wrap .project1 .container .contents .project_about {
    padding:50px;
    background-color:rgba(0,0,0,0.3);
    backdrop-filter: blur(20px);
    border-radius: 10px;
}
main #wrap .project1 .container .contents .project_about h2 {
    font-size: 1.25rem; color: #3070F3;
    font-weight: 600;
    margin-bottom: 30px;
}
main #wrap .project1 .container .contents .project_about p {color: #fff; margin-bottom:20px;}
main #wrap .project1 .container .contents .project_about p span {color:#fff;margin-left:50px;}
main #wrap .project1 .container .contents .project_about p:nth-child(2) span {margin-left:60px;}
main #wrap .project1 .container .contents .button {
    display: flex;
    justify-content: right;
    margin-top:20px;
}
main #wrap .project1 .container .contents .button .proto {
    background-color: #fff;
    border-radius: 10px;
    margin-right:10px;
}
main #wrap .project1 .container .contents .button .proto a {
    font-weight: 600; transition:all 0.5s;
    padding:20px 50px;
    display: inline-block;
}
main #wrap .project1 .container .contents .button .proto a:hover {color:#3070F3;}
main #wrap .project1 .container .contents .button .wire {    
    background-color: #fff;
    border-radius: 10px;
}
main #wrap .project1 .container .contents .button .wire a {
    font-weight: 600; transition:all 0.5s;
    padding:20px 50px;
    display: inline-block;
}
main #wrap .project1 .container .contents .button .wire a:hover {color:#3070F3;}
/* ================================================ project2 */
main #wrap .project2 {background:url(../images/background/prj_b_002_2.jpg) center / cover;}
main #wrap .project2 .container {
    height: 100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
main #wrap .project2 .container .img_wrap {/* background-color: teal; */}
main #wrap .project2 .container .img_wrap .img_item {width:1000px;}
main #wrap .project2 .container .img_wrap .img_item img {width: 100%;}
main #wrap .project2 .container .contents {
    /* background-color: wheat; */
    width: 600px;
    margin-right:200px;
}
main #wrap .project2 .container .contents h1 {width:250px; margin:0 0 20px 180px;}
main #wrap .project2 .container .contents h1 img {width: 100%;}
main #wrap .project2 .container .contents .project_info {
    padding:50px;
    background-color:rgba(0,0,0,0.3);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    margin-bottom: 30px;
}
main #wrap .project2 .container .contents .project_info h2 {
    font-size: 1.25rem; color: #3070F3; font-weight: 600;
    margin-bottom: 30px;
}
main #wrap .project2 .container .contents .project_info p {margin-bottom:20px;color: #fff;}
main #wrap .project2 .container .contents .project_about {
    padding:50px;
    background-color:rgba(0,0,0,0.3);
    backdrop-filter: blur(20px);
    border-radius: 10px;
}
main #wrap .project2 .container .contents .project_about h2 {
    font-size: 1.25rem; color: #3070F3;
    font-weight: 600;
    margin-bottom: 30px;
}
main #wrap .project2 .container .contents .project_about p {color: #fff; margin-bottom:20px;}
main #wrap .project2 .container .contents .project_about p span {color:#fff;margin-left:50px;}
main #wrap .project2 .container .contents .project_about p:nth-child(2) span {margin-left:60px;}
main #wrap .project2 .container .contents .button {
    display: flex;
    justify-content: right;
    margin-top:20px;
}
main #wrap .project2 .container .contents .button .proto {
    background-color: #fff;
    border-radius: 10px;
    margin-right:10px;
}
main #wrap .project2 .container .contents .button .proto a {
    font-weight: 600; transition:all 0.5s;
    padding:20px 50px;
    display: inline-block;
}
main #wrap .project2 .container .contents .button .proto a:hover {color:#3070F3;}
main #wrap .project2 .container .contents .button .wire {    
    background-color: #fff;
    border-radius: 10px;
}
main #wrap .project2 .container .contents .button .wire a {
    font-weight: 600; transition:all 0.5s;
    padding:20px 50px;
    display: inline-block;
}
main #wrap .project2 .container .contents .button .wire a:hover {color:#3070F3;}
/* ================================================ project3 */
main #wrap .project3 {background:url(../images/background/prj_b_003_3.jpg) center / cover;}
main #wrap .project3 .container {
    height: 100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
main #wrap .project3 .container .img_wrap {/* background-color: teal; */}
main #wrap .project3 .container .img_wrap .img_item {width:1000px;}
main #wrap .project3 .container .img_wrap .img_item img {width: 100%;}
main #wrap .project3 .container .contents {
    /* background-color: wheat; */
    width: 600px;
    margin-right:200px;
}
main #wrap .project3 .container .contents h1 {width:250px; margin:0 0 20px 180px;}
main #wrap .project3 .container .contents h1 img {width: 100%;}
main #wrap .project3 .container .contents .project_info {
    padding:50px;
    background-color:rgba(0,0,0,0.3);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    margin-bottom: 30px;
}
main #wrap .project3 .container .contents .project_info h2 {
    font-size: 1.25rem; color: #3070F3; font-weight: 600;
    margin-bottom: 30px;
}
main #wrap .project3 .container .contents .project_info p {margin-bottom:20px;color: #fff;}
main #wrap .project3 .container .contents .project_about {
    padding:50px;
    background-color:rgba(0,0,0,0.3);
    backdrop-filter: blur(20px);
    border-radius: 10px;
}
main #wrap .project3 .container .contents .project_about h2 {
    font-size: 1.25rem; color: #3070F3;
    font-weight: 600;
    margin-bottom: 30px;
}
main #wrap .project3 .container .contents .project_about p {color: #fff; margin-bottom:20px;}
main #wrap .project3 .container .contents .project_about p span {color:#fff;margin-left:50px;}
main #wrap .project3 .container .contents .project_about p:nth-child(2) span {margin-left:60px;}
main #wrap .project3 .container .contents .button {
    display: flex;
    justify-content: right;
    margin-top:20px;
}
main #wrap .project3 .container .contents .button .proto {
    background-color: #fff;
    border-radius: 10px;
    margin-right:10px;
}
main #wrap .project3 .container .contents .button .proto a {
    font-weight: 600; transition:all 0.5s;
    padding:20px 50px;
    display: inline-block;
}
main #wrap .project3 .container .contents .button .proto a:hover {color:#3070F3;}
main #wrap .project3 .container .contents .button .wire {    
    background-color: #fff;
    border-radius: 10px;
}
main #wrap .project3 .container .contents .button .wire a {
    font-weight: 600; transition:all 0.5s;
    padding:20px 50px;
    display: inline-block;
}
main #wrap .project3 .container .contents .button .wire a:hover {color:#3070F3;}
/* ================================================ design bnr*/
main #wrap .design {}
main #wrap .design .container {width: 1600px; margin:50px auto;}
main #wrap .design .container h1 {font-size: 2.5rem; font-weight: 600;}
main #wrap .design .container h1 span {color:#3070F3; font-weight: 600;}
main #wrap .design .container .bnr_wrap {}
main #wrap .design .container .bnr_wrap h2 {
    font-size: 1.875rem;
    font-weight: 600;
    padding:50px 0 30px 0;
}
main #wrap .design .container .bnr_wrap  #bnr {}
main #wrap .design .container .bnr_wrap  #bnr .swiper-wrapper {}
main #wrap .design .container .bnr_wrap  #bnr .swiper-wrapper .swiper-slide {
    width: 639px; height: 193px;
}
main #wrap .design .container .bnr_wrap  #bnr .swiper-wrapper .swiper-slide img {width: 100%;}
/* ================================================ design sns*/
main #wrap .design .container .sns_wrap {}
main #wrap .design .container .sns_wrap h2 {
    font-size: 1.875rem;
    font-weight: 600;
    padding:80px 0 30px 0;
}
main #wrap .design .container .sns_wrap  #sns {}
main #wrap .design .container .sns_wrap  #sns .swiper-wrapper {}
main #wrap .design .container .sns_wrap  #sns .swiper-wrapper .swiper-slide {
    width: 300px; height: 300px;
}
main #wrap .design .container .sns_wrap  #sns .swiper-wrapper .swiper-slide img {width: 100%;}
/* ================================================ design youtube*/
main #wrap .design2 .container {width: 1600px;margin:0 auto;}
main #wrap .design2 .container .youtube_wrap {}
main #wrap .design2 .container .youtube_wrap h2 {
    font-size: 1.875rem;
    font-weight: 600;
    padding:20px 0 30px 0;
}
main #wrap .design2 .container .youtube_wrap  #youtube {}
main #wrap .design2 .container .youtube_wrap  #youtube .swiper-wrapper {}
main #wrap .design2 .container .youtube_wrap  #youtube .swiper-wrapper .swiper-slide {
    width: 630px; height: 244px;
}
main #wrap .design2 .container .youtube_wrap  #youtube .swiper-wrapper .swiper-slide img {width: 100%; transform: translateY(-40px);}
/* ================================================ design event*/
main #wrap .design2 .container {width: 1600px; margin:50px auto;}
main #wrap .design2 .container .event_wrap {}
main #wrap .design2 .container .event_wrap h2 {
    font-size: 1.875rem;
    font-weight: 600;
    padding:80px 0 30px 0;
}
main #wrap .design2 .container .event_wrap  #event {}
main #wrap .design2 .container .event_wrap  #event .swiper-wrapper {}
main #wrap .design2 .container .event_wrap  #event .swiper-wrapper .swiper-slide {
    width: 270px; height:400px;
}
main #wrap .design2 .container .event_wrap  #event .swiper-wrapper .swiper-slide img {height: 100%;}

/* ================================================ detail */
main #wrap .detail {width: 1521px; margin:0 auto;position: relative;}
main #wrap .detail h2 {
    font-size: 1.875rem;
    font-weight: 600;
    padding:0 0 40px 0;
    margin-top:80px;
}
main #wrap .detail #detil_container {}
main #wrap .detail #detil_container .swiper-wrapper {
    /* background-color: wheat; */
}
main #wrap .detail #detil_container .swiper-wrapper .swiper-slide {
    width: 345px; height: 727px;
    transition:all 0.5s;
}
main #wrap .detail #detil_container .swiper-wrapper .swiper-slide:hover {transform: rotate(2deg);}
main #wrap .detail #detil_container .swiper-wrapper .swiper-slide img {width: 100%;}
main #wrap .detail #left_btn {
    width: 40px;
    height: 40px;
    /* background-color: yellow; */
    position: absolute;
    top:110px;left:1420px;
}
main #wrap .detail #left_btn img {width: 100%; transform: rotate(90deg);}
main #wrap .detail #left_btn::after {display:none;}
main #wrap .detail #right_btn {
    width: 40px;
    height: 40px;
    /* background-color: yellow; */
    position: absolute;
    top:110px; right:0;
}
main #wrap .detail #right_btn img {width: 100%;transform: rotate(-90deg);}
main #wrap .detail #right_btn::after {display: none;} 

/* ================================================ contact */
main #wrap .contact {background-color: #3070F3;}
main #wrap .contact .container {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(350px);
}
main #wrap .contact .container a {width: 200px; display: inline-block;}
main #wrap .contact .container a img {width: 100%;}
main #wrap .contact .container h1 {
    font-size:2.5rem;
    line-height: 1.5;
    color: #fff;
    margin-left:20px;
}
main #wrap .contact .container h1 em {font-weight: 600; color: #fff;}
main #wrap .swiper-wrapper .contact .box {}
main #wrap .swiper-wrapper .contact .box .wave {
    opacity: .4;
    position: absolute;
    bottom:-2900px;
    left: 0;
    background: #0af;
    width: 3000px;
    height: 3000px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 5s infinite linear;
}
main #wrap .swiper-wrapper .contact .box .one {}
main #wrap .swiper-wrapper .contact .box .two {animation: drift 6s infinite linear;background:#fff;left: 500px;}
main #wrap .swiper-wrapper .contact .box .three {
    animation: drift 7s infinite linear;
    opacity: .1;
    background:#FCBE39;
    left: -200px;
}
/* =============================================== 디자인 팝업 */
.popup_bg {
    position:fixed;
    top:0;left:0;
    z-index: 888;
    width:100%;
    height:100vh;
    display:block;
    background-color: rgba(0,0,0,0.5);
    /* 초기상태 */
    display: none;
}
.popup_bg .popup {
    width: 700px;
    height:80vh;
    margin: 80px auto;
    overflow: auto;
}
.popup_bg .popup img {width: 100%;}